openapi: 3.0.1
info:
  description: "### Introduction\n\nThe Shipping APIs include a variety of operations\
    \ that allow users to manage and track their shipping requests. \n\nSome of the\
    \ key API operations available in the Shipping API includes:\n### Shipment API\n\
    \n| Operation      | Description |\n| ----------- | ----------- | \n| Get Carriers\
    \    | This operation fetches all onboarded carriers. Typically, user will use\
    \ this service to get list of onboarded carriers and supported properties for\
    \ those carriers.  | \n| Get Countries | This operation fetches list of supported\
    \ destination countries for a provided carrier and origin country.  | \n| Get\
    \ Services | This operation fetches a list of supported services for a carrier\
    \ with respect to specific origin and destination country. | \n| Get ParcelTypes|\
    \ This operation fetches ParcelTypes based on carrier, origin and destination\
    \ country. | \n| Get Special Services| This operation fetches Special Services\
    \ for a given carrier, service, origin and destination country. | \n| Get Carrier\
    \ Accounts| This operation retrieves onboarded Carriers with their Carrier Account\
    \ Ids which uniquely identify multiple accounts of same carrier.  | \n| Rate Shop\
    \ and Get Single Rate| This API contains 2 operations, rate shop and single rate.\
    \ Rate shop will fetch rates for all carrier services based on the given addresses\
    \ (From and To), weight, and dimension for given parcelType. Single rate will\
    \ get rate for specific service and special service (if requested) based on the\
    \ given addresses (From and To), weight, and dimension, parcelType and serviceId\
    \ with or without specialServices. Single rate will be used mainly to a rate a\
    \ shipment before creating shipment.  | \n| Create Shipment| This operation creates\
    \ a new Shipment or Shipment Label. This is for both Domestic and International.\
    \ |\n| Get All Shipments| This operation fetches all created Shipments. | \n|\
    \ Get Shipment by Id| Retrieves single shipment using Shipment Id. | \n| Reprint\
    \ Shipment| This operation reprints Shipment by the shipmentId. It retrieves an\
    \ existing shipping label to reprint. The API sends the shipmentId returned by\
    \ the original Created Shipment request. Use this only if the shipping label in\
    \ the Create Shipment response was spoilt or lost. | \n| Cancel Shipment| This\
    \ operation cancels previously created shipment. | \n"
  title: Shipping APIs
  version: 1.0.0
servers:
- description: Sandbox Server
  url: https://api-sandbox.sendpro360.pitneybowes.com/shipping
- description: Production Server (uses live data)
  url: https://api.sendpro360.pitneybowes.com/shipping
tags:
- name: Shipment
- name: Batch
- name: Manifest
paths:
  /api/v1/carriers:
    get:
      description: This operation fetches all supported carriers. This service is
        used to get list of supported carriers and their properties.
      operationId: getCarriers
      parameters:
      - description: "This is the Developer Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/carriers'
          description: The available carriers have been fetched.
          headers:
            X-Pb-Transactionid:
              description: The X-PB-TransactionId is unique id for this request.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Get Carriers
      tags:
      - Shipment
      x-accepts:
      - application/json
  /api/v1/countries:
    get:
      description: "This operation fetches list of supported destination countries\
        \ for a provided carrier and origin country. If query parameters are not provided,\
        \ it will default to `USPS` as carrier and `US` as origin country."
      operationId: getCountries
      parameters:
      - description: "This is the Developer Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: "This indicates the carrierID, a unique identifier given to \
          \ an individual carrier."
        explode: true
        in: query
        name: carrier
        required: false
        schema:
          type: string
        style: form
      - description: This indicates the Source Country. The two-character ISO country
          code for the country where the Shipment originates.
        explode: true
        in: query
        name: originCountryCode
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/countries'
          description: A list of Countries has been fetched.
          headers:
            X-Pb-Transactionid:
              description: The X-PB-TransactionId is unique id for this request.
              explode: false
              schema:
                example: GmeMZJ9YDK5z87b
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Get Countries
      tags:
      - Shipment
      x-accepts:
      - application/json
  /api/v1/services:
    get:
      description: "This operation fetches a list of supported services for a carrier\
        \ with respect to specific origin and destination country. If query parameters\
        \ are not provided, this will default to `USPS` as carrier, `US` as both origin\
        \ and destination country code."
      operationId: getServices
      parameters:
      - description: "This is the Developer Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: "This indicates the CarrierID, a unique identifier provided to\
          \ an individual carrier. It can be referred from the response of Get Carriers\
          \ API"
        explode: true
        in: query
        name: carrier
        required: false
        schema:
          type: string
        style: form
      - description: This indicates the Source Country. The two-character ISO country
          code for the country where the Shipment originates.
        explode: true
        in: query
        name: originCountryCode
        required: false
        schema:
          type: string
        style: form
      - description: This indicates the Destination Country for the Shipment. The
          two-character ISO country code for the country where the shipment is to
          be delivered.
        explode: true
        in: query
        name: destinationCountryCode
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/services'
          description: A list of services has been fetched.
          headers:
            X-Pb-Transactionid:
              description: The X-PB-TransactionId is unique id for this request.
              explode: false
              schema:
                example: XbxjOb5BR7lwMAe
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Get Services
      tags:
      - Shipment
      x-accepts:
      - application/json
  /api/v1/parcelTypes:
    get:
      description: "This operation fetches Parcel Types based on the provided carrier,\
        \ origin county, and the destination country. If query parameters are not\
        \ provided, this will default to `USPS` as carrier, `US` as both origin and\
        \ destination country code."
      operationId: getParcelTypes
      parameters:
      - description: "This is the Developer Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: "This indicates the CarrierID, a unique identifier given to an\
          \ individual carrier. It can be referred from the response of Get Carriers\
          \ API"
        explode: true
        in: query
        name: carrier
        required: false
        schema:
          type: string
        style: form
      - description: This indicates the Source Country. The two-character ISO country
          code for the country where the Shipment originates.
        explode: true
        in: query
        name: originCountryCode
        required: false
        schema:
          type: string
        style: form
      - description: This indicates the Destination Country for the Shipment. The
          two-character ISO country code for the country where the shipment is to
          be delivered.
        explode: true
        in: query
        name: destinationCountryCode
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/parcelTypes'
          description: A list of Parcel Types has been fetched.
          headers:
            X-Pb-Transactionid:
              description: The X-PB-TransactionId is unique id for this request.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Get Parcel Types
      tags:
      - Shipment
      x-accepts:
      - application/json
  /api/v1/specialServices:
    get:
      description: "This operation fetches Special Services for a given carrier, service,\
        \ origin country, and the destination country. If query parameters are not\
        \ provided, it will default to `USPS` as carrier,`US` as both origin and destination\
        \ country and would show for all service and parcel types"
      operationId: getSpecialServices
      parameters:
      - description: "This is the Developer Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: This indicates the serviceId. It can be referred from response
          of `Get Services` API
        explode: true
        in: query
        name: service
        required: false
        schema:
          type: string
        style: form
      - description: "This indicates the parcel Id, a unique identifier named to individual\
          \ package. It can be referred from response of `Get Parcel Types` API"
        explode: true
        in: query
        name: parcel
        required: false
        schema:
          type: string
        style: form
      - description: "This indicates the CarrierID, a unique identifier given to \
          \ an individual carrier. It can be referred from response of `Get Carriers`\
          \ API"
        explode: true
        in: query
        name: carrier
        required: false
        schema:
          type: string
        style: form
      - description: This indicates the Source Country. The two-character ISO country
          code for the country where the Shipment originates.
        explode: true
        in: query
        name: originCountryCode
        required: false
        schema:
          type: string
        style: form
      - description: This indicates the Destination Country for the Shipment. The
          two-character ISO country code for the country where the shipment is to
          be delivered.
        explode: true
        in: query
        name: destinationCountryCode
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/specialServices'
          description: The Special Service has been fetched successfully.
          headers:
            X-Pb-Transactionid:
              description: The X-PB-TransactionId is unique id for this request.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Get Special Services
      tags:
      - Shipment
      x-accepts:
      - application/json
  /api/v1/carrierAccounts:
    get:
      description: This operation retrieves onboarded Carriers with their Carrier
        Account Ids which uniquely identify multiple accounts of same carrier.
      operationId: getCarrierAccounts
      parameters:
      - description: "This is the Developer Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                carrierAccounts:
                - carrierAccountId: abcd12
                  carrierName: FEDEX
                  description: FedEx my account
                - carrierAccountId: xyz12
                  carrierName: UPS
                  description: UPS my account
                - carrierAccountId: 12prqs
                  carrierName: USPS
                  description: USPS my account
              schema:
                $ref: '#/components/schemas/getCarrierAccounts_200_response'
          description: A list of Carrier Accounts has been fetched.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Get Carrier Accounts
      tags:
      - Shipment
      x-accepts:
      - application/json
  /api/v1/rates:
    post:
      description: "This API contains 2 operations, rate shop and single rate. Rate\
        \ shop will fetch rates for all carrier services based on the given addresses\
        \ (From and To), weight, and dimension for given parcelType. If parcelType\
        \ is not provided, it will default to `PKG`. Single rate will get rate for\
        \ specific service and special service (if requested) based on the given addresses\
        \ (From and To), weight, and dimension, parcelType and serviceId with or without\
        \ specialServices. Single rate will be used mainly to a rate a shipment before\
        \ creating shipment."
      operationId: getRates
      parameters:
      - description: "This is the Developer Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: "This header defines if the response required is detailed or\
          \ compact. When value is set to true, it will only return rates object in\
          \ response."
        explode: false
        in: header
        name: compactResponse
        required: false
        schema:
          example: true
          type: boolean
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getRates_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                shop-rate:
                  value:
                    errors:
                    - code: validation_error
                      message: "error while getting rates for  carrier with carrierAccount\
                        \ eRMnRx4mzPP : "
                    fromAddress:
                      addressLine1: 27 Waterview Drive
                      addressLine2: ""
                      addressLine3: ""
                      cityTown: Beals
                      company: ABC Company
                      countryCode: US
                      email: sender@email.com
                      name: Sasha Sekrotov
                      phone: 323 555-1212
                      postalCode: 04611-3214
                      residential: false
                      stateProvince: ME
                    parcel:
                      height: 10
                      length: 10
                      dimUnit: IN
                      width: 10
                      weightUnit: OZ
                      weight: 1
                    rates:
                    - baseCharge: 28.07
                      carrier: ups
                      carrierAccount: as1233234s
                      deliveryCommitment:
                        additionalDetails: 3 - 5 business days to many major markets
                        guarantee: NONE
                        maxEstimatedNumberOfDays: "5"
                        minEstimatedNumberOfDays: "3"
                      currencyCode: USD
                      parcelType: LP
                      parcelId: SHOE_BOX
                      rateTypeId: COMMERCIAL
                      serviceId: 3DA
                      surcharges:
                      - fee: 5.85
                        name: RESIDENTIAL
                      - fee: 4.66
                        name: FUEL
                      totalCarrierCharge: 38.58
                      isHazmat: false
                    - baseCharge: 104.12
                      carrier: ups
                      carrierAccount: as1233234s
                      currencyCode: USD
                      parcelType: LP
                      parcelId: SHOE_BOX
                      rateTypeId: COMMERCIAL
                      serviceId: NDA_AM
                      surcharges:
                      - fee: 5.85
                        name: RESIDENTIAL
                      - fee: 15.12
                        name: FUEL
                      totalCarrierCharge: 125.09
                      isHazmat: false
                    - baseCharge: 14.16
                      carrier: ups
                      carrierAccount: as1233234s
                      currencyCode: USD
                      parcelType: LP
                      parcelId: SHOE_BOX
                      rateTypeId: COMMERCIAL
                      serviceId: GRD
                      surcharges:
                      - fee: 5.25
                        name: RESIDENTIAL
                      - fee: 2.81
                        name: FUEL
                      totalCarrierCharge: 22.22
                      isHazmat: false
                    - baseCharge: 69.01
                      carrier: ups
                      carrierAccount: as1233234s
                      currencyCode: USD
                      parcelType: LP
                      parcelId: SHOE_BOX
                      rateTypeId: COMMERCIAL
                      serviceId: NDA_SVR
                      surcharges:
                      - fee: 5.85
                        name: RESIDENTIAL
                      - fee: 10.29
                        name: FUEL
                      totalCarrierCharge: 85.15
                      isHazmat: false
                    - baseCharge: 74.12
                      carrier: ups
                      carrierAccount: as1233234s
                      currencyCode: USD
                      parcelType: LP
                      parcelId: SHOE_BOX
                      rateTypeId: COMMERCIAL
                      serviceId: NDA
                      surcharges:
                      - fee: 5.85
                        name: RESIDENTIAL
                      - fee: 10.99
                        name: FUEL
                      totalCarrierCharge: 90.96
                      isHazmat: false
                    - baseCharge: 33.86
                      carrier: ups
                      carrierAccount: as1233234s
                      currencyCode: USD
                      parcelType: LP
                      parcelId: SHOE_BOX
                      rateTypeId: COMMERCIAL
                      serviceId: 2DA
                      surcharges:
                      - fee: 5.85
                        name: RESIDENTIAL
                      - fee: 5.46
                        name: FUEL
                      totalCarrierCharge: 45.17
                      isHazmat: false
                    - baseCharge: 104.37
                      carrier: fedex
                      carrierAccount: 12232err3
                      currencyCode: USD
                      parcelType: LP
                      parcelId: SHOE_BOX
                      rateTypeId: COMMERCIAL
                      serviceId: NDA_AM
                      surcharges:
                      - fee: 5.8
                        name: RESIDENTIAL_DELIVERY
                      - fee: 17.63
                        name: FUEL
                      totalCarrierCharge: 127.8
                      isHazmat: false
                    - baseCharge: 38.59
                      carrier: fedex
                      carrierAccount: 12232err3
                      currencyCode: USD
                      parcelType: LP
                      parcelId: SHOE_BOX
                      rateTypeId: COMMERCIAL
                      serviceId: 2DA_AM
                      surcharges:
                      - fee: 5.8
                        name: RESIDENTIAL_DELIVERY
                      - fee: 7.1
                        name: FUEL
                      totalCarrierCharge: 51.49
                      isHazmat: false
                    toAddress:
                      addressLine1: 70 Hanlan RD
                      addressLine2: "Unit # 8"
                      addressLine3: ""
                      cityTown: Westford
                      company: Pitney Bowes Inc.
                      countryCode: US
                      email: receiver@email.com
                      name: sender_fname
                      phone: "2032032033"
                      postalCode: 01886-6502
                      residential: true
                      stateProvince: MA
                single-rate:
                  value:
                    fromAddress:
                      addressLine1: 27 Waterview Drive
                      addressLine2: ""
                      addressLine3: ""
                      cityTown: Shelton
                      company: Pitney Bowes Inc.
                      countryCode: US
                      email: receiver@email.com
                      name: sender_fname
                      phone: "2032032033"
                      postalCode: "06484"
                      residential: true
                      stateProvince: CT
                    parcel:
                      height: 3.5
                      length: 5
                      dimUnit: IN
                      width: 0.01
                      weightUnit: OZ
                      weight: 1
                    rates:
                    - baseCharge: 53.07
                      carrier: usps
                      deliveryCommitment:
                        additionalDetails: 3 - 5 business days to many major markets
                        guarantee: NONE
                        maxEstimatedNumberOfDays: "5"
                        minEstimatedNumberOfDays: "3"
                      parcelType: LP
                      parcelId: SHOE_BOX
                      rateTypeId: COMMERCIAL_BASE
                      serviceId: EMI
                      totalCarrierCharge: 53.07
                      isHazmat: false
                    toAddress:
                      addressLine1: 70 Hanlan RD
                      addressLine2: "Unit # 8"
                      addressLine3: ""
                      cityTown: Woodbridge
                      company: ABC Company
                      countryCode: CA
                      email: sender@email.com
                      name: Sasha Sekrotov
                      phone: 323 555-1212
                      postalCode: L4L3P6
                      residential: false
                      stateProvince: "ON"
              schema:
                $ref: '#/components/schemas/getRates_200_response'
          description: The Rating is done for the shipment(s).
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Rate Shop and Get Single Rate
      tags:
      - Shipment
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/shipments:
    get:
      description: "This operation fetches all created Shipments. If query parameters\
        \ are not provided, it will default endDate as current date, page as 1 and\
        \ size as 10."
      operationId: getAllShipments
      parameters:
      - description: "This is the Developer Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: "While searching shipments, user set a date range to get all\
          \ created shipments. This indicatesthe start date of the set date range\
          \ under shipment search criteria. The date format must be: YYYY-MM-DD."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: "While searching shipments, user set a date range to get all\
          \ created shipments. This indicatesthe end date of the set date range under\
          \ shipment search criteria. The date format must be: YYYY-MM-DD."
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: This indicates the page of the Shipments search result list.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      - description: This indicates the size/count of the searched result list.
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllShipments'
          description: List of shipments.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Get All Shipments
      tags:
      - Shipment
      x-accepts:
      - application/json
    post:
      description: "This operation creates a new Shipment or Shipment Label. This\
        \ is for both Domestic and International.<br> For domestic, Create a shipment\
        \ requires domestic addresses (within same country)- ToAddress and FromAddress,\
        \ and  carrier service and special service.<br> While for International, Create\
        \ a shipment requires international delivery, that is ToAddress must be the\
        \ different country (and not the same country mentioned in From Address),\
        \ selected services, special services, and customs information. <br> <br>\
        \ Note- To create Return shipment using this API- If PRL (return special service)\
        \ is used, user need to provide sender address (from where return shipment\
        \ is to be created) in `fromAddress` object and recipient address (to where\
        \ return is to be created) in `toAddress` object. System will not swap the\
        \ address for return in this API. If you want to create return for the already\
        \ created shipment, you may use `Create Return Label Shipment` API. <br> <br>\
        \ Note: Currently Shipment created from below API gets assigned to the Default\
        \ location of the subscription."
      operationId: createShipment
      parameters:
      - description: "This is the Developer Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createShipment_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createShipment_200_response'
          description: The shipment has been created successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Create Shipment
      tags:
      - Shipment
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/shipments/{shipmentId}:
    get:
      description: This operation retrieves shipment details using shipmentId.
      operationId: shipmentById
      parameters:
      - description: "This indicates the shipmentId, a unique identifier for an individual\
          \ Shipment."
        explode: false
        in: path
        name: shipmentId
        required: true
        schema:
          type: string
        style: simple
      - description: "This is the Developer Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getSingleShipment'
          description: The shipment has been retrieved.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrors'
          description: The requested resource was not found.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Get Shipment by Id
      tags:
      - Shipment
      x-accepts:
      - application/json
  /api/v1/shipments/{shipmentId}/reprint:
    get:
      description: This operation reprints Shipment by the shipmentId. It retrieves
        an existing shipping label to reprint. The API sends the shipmentId returned
        by the original Created Shipment request. Use this only if the shipping label
        in the Create Shipment response was spoilt or lost.
      operationId: reprintShipmentById
      parameters:
      - description: "This indicates the shipmentId, a unique identifier assigned\
          \ to the Shipment."
        explode: false
        in: path
        name: shipmentId
        required: true
        schema:
          type: string
        style: simple
      - description: "This is the Developer Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: "This header defines if the response required is detailed or\
          \ compact. When value is set to true, it will only return label layout details\
          \ and parcel tracking number object in response."
        explode: false
        in: header
        name: compactResponse
        required: false
        schema:
          example: false
          type: boolean
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reprintShipment'
          description: The shipment has been reprinted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrors'
          description: The requested resource was not found.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Reprint Shipment
      tags:
      - Shipment
      x-accepts:
      - application/json
  /api/v1/shipments/{shipmentId}/cancel:
    put:
      description: This operation cancel/void shipment.
      operationId: cancelShipmentById
      parameters:
      - description: "This indicates the shipmentId, a unique identifier assigned\
          \ for the Shipment."
        explode: false
        in: path
        name: shipmentId
        required: true
        schema:
          type: string
        style: simple
      - description: "This is the Developer Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cancelShipment'
          description: The Shipment has been cancelled.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrors'
          description: The requested resource was not found.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Cancel Shipment
      tags:
      - Shipment
      x-accepts:
      - application/json
  /api/v1/shipments/{shipmentId}/return:
    post:
      description: "This operation creates a return label based on a previous shipment.\
        \ <br> The return label can be created in two ways:  <br> 1. User need not\
        \ to provide any details of package, address and service. The API would take\
        \ all details from the shipmentId mentioned in the path parameter and would\
        \ swap the address and create return label. However for UPS `specialServices`\
        \ object is required as carrier mandates to provide package description with\
        \ PRL special service. <br> 2. User can customize the request by passing `fromAddress`,\
        \ `toAddress`, `parcelType`, `serviceId` in the request itself. <br> Please\
        \ Note that for UPS it is required to pass `specialServices` object with `PRL`\
        \ service id and  input parameters with name as `RETURN_PKG_DESCRIPTION`.\
        \ <br> For FedEx `specialServices` object is not required and PRL is added\
        \ by default while creating return.  If user wishes to provide RMA number,\
        \ it can be passed in `specialServices` object in the request body. <br> Please\
        \ Note If user provides any information in this request it overrides the information\
        \ in onward shipment which was created <br> For example if user provides toAddress\
        \ in the request the return label will get created with recipient as mentioned\
        \ in toAddress and  if user provides fromAddress in the request, the return\
        \ label will be created with sender as mentioned in fromAddress"
      operationId: createReturnLabel
      parameters:
      - description: "This is the Developer Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: It specifies the shipmentId of onward shipment against which
          return label has to be created.
        explode: false
        in: path
        name: shipmentId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/returnLabel'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/returnLabelResponse'
          description: The Return Label has been created successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Create Return label shipment
      tags:
      - Shipment
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/err/shipments/{shipmentId}/signaturefile:
    get:
      description: "This operation provides a downloadable link which consists of\
        \ a signature image for specific ERR (Electronic Return Receipt) shipment,\
        \ and this is known as POD. <br /> Proof of Delivery (POD) is a document or\
        \ file that shows an evidence of shipment delivery. This file contains the\
        \ digital copy of recipient's signature, i.e., the signature image, in the\
        \ form of downloadable link or URL."
      operationId: GetSignatureImageERR
      parameters:
      - description: "The Developer Partner ID is assigned by PB to uniquely identify\
          \ a Developer's strategic business partners. If the developer is the sole\
          \ business partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Shipment ID is a unique identifier for an individual shipment.
        explode: false
        in: path
        name: shipmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignatureFileResponse'
          description: Signature image as proof of delivered shipment.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Signature Image ERR
      tags:
      - Shipment
      x-accepts:
      - application/json
  /api/v1/err/stamps/void:
    post:
      description: "This operation cancels (voids) stamps generated for ERR (Electronic\
        \ Return Receipt). \n- User needs to provide *Stamp IDs* to cancel those specific\
        \ ERR stamps. \n- User can download the *Refund Form* having details of generated\
        \ Postage. \n- At once, maximum 1000 stamps can be requested for cancelation.\n"
      operationId: CancelStampsERR
      parameters:
      - description: "The Developer Partner ID is assigned by PB to uniquely identify\
          \ a Developer's strategic business partners. If the developer is the sole\
          \ business partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelStampsRequestERR'
        required: true
      responses:
        "200":
          content:
            application/pdf:
              schema:
                $ref: '#/components/schemas/CancelStampsResponseERR'
          description: Stamps Refund Form has been generated.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Cancel Stamps ERR
      tags:
      - Shipment
      x-content-type: application/json
      x-accepts:
      - application/json
      - application/pdf
  /api/v1/err/shipments/bpod:
    post:
      description: "This API operation is used to download bulk of ERR (*Electronic\
        \ Return Receipt*) - POD (*Proof of Delivery*) files, which are specific to\
        \ USPS carrier. <br />\n  User can download BPOD (*Bulk Proof of Delivery*)\
        \ files either using *Shipment IDs* or *Date Range*. \n  If user wants to\
        \ check records based on dates and download BPOD files accordingly, then *Start\
        \ Date* and *End Date* need to be passed in the request body as filter. Else\
        \ *Shipment IDs* will be used as default value when user does not provide\
        \ *DateRange* filter. <br />\n  User is restricted to download 1000 BPOD files\
        \ as max limit.\n"
      operationId: DownloadBpodFiles
      parameters:
      - description: "The Developer Partner ID is assigned by PB to uniquely identify\
          \ a Developer's strategic business partners. If the developer is the sole\
          \ business partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The BPOD files to be downloaded from which Date is the startDate
          in the Date Range filter. This field is not required if the Shipment IDs
          provided in the request body.
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: The BPOD files to be downloaded till which Date is the endDate
          in the Date Range filter. This field is not required if the Shipment IDs
          provided in the request body.
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BPODDownloadRequest'
        description: This is the request body to download BPOD files. Request body
          supports max of 1000 ShipmentIDs in a request.
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BPODDownloadResponse'
          description: The ZIP URL for BPOD files has been created for download.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Download BPOD Files
      tags:
      - Shipment
      x-codegen-request-body-name: body
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/pickups:
    get:
      description: This operation is used to view the history of pickups scheduled
        or cancelled for your packages.
      operationId: getPickups
      parameters:
      - description: "This is the Developer Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: "Indicates CarrierID. If not provided, it would show pickups\
          \ for all the carriers."
        explode: true
        in: query
        name: carrier
        required: false
        schema:
          type: string
        style: form
      - description: "Indicates start date from when you want to see the history.\
          \ If not provided, it will take today's date."
        explode: true
        in: query
        name: startDate
        required: false
        schema:
          type: string
        style: form
      - description: "Indicates end date till you want to see the pickups history.\
          \ If not provide, it will take today's date."
        explode: true
        in: query
        name: endDate
        required: false
        schema:
          type: string
        style: form
      - description: "Indicates status of the pickup(schedule or cancel). If not provided,\
          \ it will show the response for both status."
        explode: true
        in: query
        name: status
        required: false
        schema:
          enum:
          - scheduled
          - cancelled
          type: string
        style: form
      - description: "Indicates page number, if not provided page would be 1."
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: number
        style: form
      - description: "Indicates size of records, if not provided size would be 20"
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: number
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getAllPickups'
          description: List of pickups.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Get Pickups
      tags:
      - Pickups
      x-accepts:
      - application/json
    post:
      description: "This operation allows to schedule Pickups with USPS, UPS, FedEx\
        \ and DHLExpress for eligible shipments. <br> Below are four possible combinations\
        \ for scheduling pickup <br>  <br> 1. When request does not specify `pickupSummary`\
        \ and `shipmentIds`- The system would consider all eligible shipments created\
        \ in a current day. <br> 2. When request specifies only `shipmentIds`- Pickup\
        \ will be created for the shipmentIds mentioned <br> 3. When request specifies\
        \ only `pickupSummary`- Pickup will be created for the pickup details mentioned\
        \ in the pickupSummary <br> 4. When request specifies both `pickupSummary`\
        \ and `shipmentIds`- Pickup will be created including details mentioned in\
        \ both objects."
      operationId: schedulePickup
      parameters:
      - description: "This is the Developer Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schedulePickup_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedulePickup_200_response'
          description: The Pick up has been created successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Schedule Pickup
      tags:
      - Pickups
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/pickups/cancel:
    put:
      description: This operation is used to Cancel the scheduled pickup.
      operationId: cancelPickups
      parameters:
      - description: "This is the Developer Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/schedulePickupCancelRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/schedulePickupCancelResponse'
          description: Pick up cancelled successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Cancel Pickups
      tags:
      - Pickups
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/pickups/{pickupId}/document:
    get:
      description: This operation returns the scheduled pickup or cancellation receipt
        in PDF format.
      operationId: getPickupDocument
      parameters:
      - description: "This is the Developer Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: It specified the pickupId for which PDF receipt is needed.
        explode: false
        in: path
        name: pickupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPickupDocument'
          description: Pick up document have been fetched.
          headers:
            X-Pb-Transactionid:
              description: The X-PB-TransactionId is unique id for this request.
              explode: false
              schema:
                type: string
              style: simple
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Get Pickup Document
      tags:
      - Pickups
      x-accepts:
      - application/json
  /api/v1/pickups/document:
    post:
      description: This operation is used to get receipt for pickup cancellation.
        The receipt generated is in PDF format. <br> This operation can create receipt
        for multiple pickups which are cancelled.
      operationId: cancelledPickupDocument
      parameters:
      - description: "This is the Developer Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: Indicates type of pickup. Supported value is `cancelled`.
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - cancelled
          example: cancelled
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/getPickupCancelledDocumentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getPickupCancelledDocumentResponse'
          description: The pick up has been cancelled.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Cancelled Pickup Document
      tags:
      - Pickups
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/multipiece/rates:
    post:
      description: "This API contains 2 operations, rate shop and single rate. Rate\
        \ shop will fetch rates for all carrier services based on the given addresses\
        \ (From and To), weight, and dimension for given parcelType in multiPieceParcels\
        \ object. Single rate will get rate for specific service and special service\
        \ (if requested) based on the given addresses (From and To), weight, and dimension,\
        \ parcelType and serviceId with or without specialServices. Single rate will\
        \ be used mainly to a rate a shipment before creating shipment.  <br> For\
        \ UPS- multipiece shipment with Envelopes (having parcel Type as LTR) is not\
        \ supported.  <br> For FEDEX Multipiece, all parcels must be of same packaging\
        \ type while creating multipiece shipment"
      operationId: multipieceRates
      parameters:
      - description: "This is the Develover Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/multipieceRates_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/multipieceRates_200_response'
          description: The Multipiece Rates created successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Multipiece Rateshop and Rates
      tags:
      - Multipiece
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/multipiece/shipments:
    post:
      description: "This operation is used to create Multipiece Shipments. UPS, FedEx\
        \ and DHL Express are supported for Multipiece Shipments.  <br> For UPS- multipiece\
        \ shipment with Envelopes (having parcel Type as LTR) is not supported.  <br>\
        \ For FEDEX Multipiece, all parcels must be of same packaging type while creating\
        \ multipiece shipment"
      operationId: multipieceShipment
      parameters:
      - description: "This is the Develover Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/multipieceShipment_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/multipieceShipment_200_response'
          description: The Multipiece Shipment created successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Multipiece Shipment
      tags:
      - Multipiece
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/multipiece/shipments/{shipmentId}/reprint:
    get:
      description: This operation is used to reprint the multipiece label. It takes
        the shipmentId of the multipiece shipment done.
      operationId: multipieceShipmentReprint
      parameters:
      - description: "This is the Develover Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: It specifies the shipmentId of onward shipment against which
          return label has to be created.
        explode: false
        in: path
        name: shipmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MultipieceDomesticShipmentResponse'
          description: The Multipiece Shipment created successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Reprint Multipiece Shipment
      tags:
      - Multipiece
      x-accepts:
      - application/json
  /api/v1/multipiece/shipments/{shipmentId}/cancel:
    put:
      description: This operation is used to cancel the multipiece label. It takes
        the shipmentId of the multipiece shipment done.
      operationId: multipieceShipmentCancel
      parameters:
      - description: "This is the Develover Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: It specifies the shipmentId of onward shipment against which
          return label has to be created.
        explode: false
        in: path
        name: shipmentId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cancelShipment'
          description: The Multipiece Shipment created successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Cancel Multipiece Shipment
      tags:
      - Multipiece
      x-accepts:
      - application/json
  /api/v2/shipments:
    post:
      description: "The operation creates a new Shipment or generate a Shipment Label.\n\
        - To create a domestic shipment, the operation requires\n  - Domestic addresses\
        \ 'To' and 'From' locations respectively within the same country\n  - carrier\
        \ services, and\n  - associated special services.\n- While for the International\
        \ shipment, the operation requires\n  - International address(es) for delivery,\
        \ that is 'To' address must be the international country location(s) and not\
        \ the same country mentioned in 'From' address\n  - supported international\
        \ carrier services\n  - associated special service(s), and \n  - customs information.\n"
      operationId: createShipmentV2
      parameters:
      - description: "The Developer Partner ID is assigned by PB to uniquely identify\
          \ a Developer's strategic business partners. If the developer is the sole\
          \ business partner, this field isn't required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-Id
        required: false
        schema:
          type: string
        style: simple
      - description: "This is the Location ID assigned as per the Developer's and\
          \ Partner's parsed locations, to which all transactions will be billed.\
          \ <br /> Partner's location will be used for billing if it is configured,\
          \ however, in case Partner's location is not given, then the Developer's\
          \ location will be taken. Developer's location will be the default value.\
          \ <br /> Additionally, Developers and Partners can use carriers belong to\
          \ this location only."
        explode: false
        in: header
        name: X-PB-LocationId
        required: false
        schema:
          type: string
        style: simple
      - description: "A unique Transaction ID provided by the partner, which is used\
          \ to enable debugging and linking between the client's transaction and the\
          \ system."
        explode: false
        in: header
        name: X-PB-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createShipmentV2_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/domesticShipmentResponseV2'
          description: The shipment has been created successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Create Shipment
      tags:
      - ShipmentByRateShop
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v2/shipments/reprint:
    post:
      description: The operation reprints Shipment by the shipmentId. It retrieves
        an existing shipping label to reprint. The API sends the shipmentID returned
        by the original created shipment request. Use this only if the shipping label
        in the Create Shipment response is missing or lost.
      operationId: reprintShipmentByIdV2
      parameters:
      - description: "The Developer Partner ID is assigned by PB to uniquely identify\
          \ a Developer's strategic business partners. If the developer is the sole\
          \ business partner, this field isn't required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-Id
        required: false
        schema:
          type: string
        style: simple
      - description: "This is the Location ID assigned as per the Developer's and\
          \ Partner's parsed locations, to which all transactions will be billed.\
          \ <br /> Partner's location will be used for billing if it is configured,\
          \ however, in case Partner's location is not given, then the Developer's\
          \ location will be taken. Developer's location will be the default value.\
          \ <br /> Additionally, Developers and Partners can use carriers belong to\
          \ this location only."
        explode: false
        in: header
        name: X-PB-LocationId
        required: false
        schema:
          type: string
        style: simple
      - description: A unique transaction Id provided by the partner which is used
          to enable debugging and linking between the client's transaction and the
          system.
        explode: false
        in: header
        name: X-PB-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shipmentReprintV2'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/reprintShipmentV2'
          description: The shipment has been reprinted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrors'
          description: The requested resource was not found.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Reprint Shipment
      tags:
      - ShipmentByRateShop
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v2/shipments/cancel:
    post:
      description: The operation cancel/void shipment.
      operationId: cancelShipmentByIdV2
      parameters:
      - description: "The Developer Partner ID is assigned by PB to uniquely identify\
          \ a Developer's strategic business partners. If the developer is the sole\
          \ business partner, this field isn't required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-Id
        required: false
        schema:
          type: string
        style: simple
      - description: "This is the Location ID assigned as per the Developer's and\
          \ Partner's parsed locations, to which all transactions will be billed.\
          \ <br /> Partner's location will be used for billing if it is configured,\
          \ however, in case Partner's location is not given, then the Developer's\
          \ location will be taken. Developer's location will be the default value.\
          \ <br /> Additionally, Developers and Partners can use carriers belong to\
          \ this location only."
        explode: false
        in: header
        name: X-PB-LocationId
        required: false
        schema:
          type: string
        style: simple
      - description: A unique Transaction ID provided by the partner which is used
          to enable debugging and linking between the client's transaction and the
          system.
        explode: false
        in: header
        name: X-PB-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/shipmentCancelV2'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cancelShipmentV2'
          description: The Shipment has been cancelled.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotFoundErrors'
          description: The requested resource was not found.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Cancel Shipment
      tags:
      - ShipmentByRateShop
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/document/print:
    post:
      description: "It contains information about a label or a document, e.g. a shipping\
        \ label, a customs form, manifest report etc., that pertains to a shipment\
        \ or manifest."
      operationId: printDocument
      parameters:
      - description: "The Developer Partner ID is assigned by PB to uniquely identify\
          \ a Developer's strategic business partners. If the developer is the sole\
          \ business partner, this field isn't required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-Id
        required: false
        schema:
          type: string
        style: simple
      - description: "This is the Location ID assigned as per the Developer's and\
          \ Partner's parsed locations, to which all transactions will be billed.\
          \ <br /> Partner's location will be used for billing if it is configured,\
          \ however, in case Partner's location is not given, then the Developer's\
          \ location will be taken. Developer's location will be the default value.\
          \ <br /> Additionally, Developers and Partners can use carriers belong to\
          \ this location only."
        explode: false
        in: header
        name: X-PB-LocationId
        required: false
        schema:
          type: string
        style: simple
      - description: "A unique Transaction ID provided by the partner, which is used\
          \ to enable debugging and linking between the client's transaction and the\
          \ system."
        explode: false
        in: header
        name: X-PB-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrintDocumentRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrintDocumentResponse'
          description: The document has been printed successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
      security:
      - bearerAuth: []
      summary: Print Document
      tags:
      - Print
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/printer/mapping:
    delete:
      description: delete printer mapping document
      operationId: deletePrinterMapping
      parameters:
      - description: "The Developer Partner ID is assigned by PB to uniquely identify\
          \ a Developer's strategic business partners. If the developer is the sole\
          \ business partner, this field isn't required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-Id
        required: false
        schema:
          type: string
        style: simple
      - description: "This is the Location ID assigned as per the Developer's and\
          \ Partner's parsed locations, to which all transactions will be billed.\
          \ <br /> Partner's location will be used for billing if it is configured,\
          \ however, in case Partner's location is not given, then the Developer's\
          \ location will be taken. Developer's location will be the default value.\
          \ <br /> Additionally, Developers and Partners can use carriers belong to\
          \ this location only."
        explode: false
        in: header
        name: X-PB-LocationId
        required: false
        schema:
          type: string
        style: simple
      - description: A unique transaction Id provided by the partner which is used
          to enable debugging and linking between the client's transaction and the
          system.
        explode: false
        in: header
        name: X-PB-TransactionId
        required: false
        schema:
          type: string
        style: simple
      - description: Refers to a printer connected (directly or via network) to a
          computer.
        explode: true
        in: query
        name: alias
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          description: Successfully deleted printer mapping
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
      security:
      - bearerAuth: []
      summary: Delete Printer mapping
      tags:
      - Print
      x-accepts:
      - application/json
    get:
      description: Get printer mapping document
      operationId: getPrinterMapping
      parameters:
      - description: "The Developer Partner ID is assigned by PB to uniquely identify\
          \ a Developer's strategic business partners. If the developer is the sole\
          \ business partner, this field isn't required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-Id
        required: false
        schema:
          type: string
        style: simple
      - description: "This is the Location ID assigned as per the Developer's and\
          \ Partner's parsed locations, to which all transactions will be billed.\
          \ <br /> Partner's location will be used for billing if it is configured,\
          \ however, in case Partner's location is not given, then the Developer's\
          \ location will be taken. Developer's location will be the default value.\
          \ <br /> Additionally, Developers and Partners can use carriers belong to\
          \ this location only."
        explode: false
        in: header
        name: X-PB-LocationId
        required: false
        schema:
          type: string
        style: simple
      - description: A unique transaction Id provided by the partner which is used
          to enable debugging and linking between the client's transaction and the
          system.
        explode: false
        in: header
        name: X-PB-TransactionId
        required: false
        schema:
          type: string
        style: simple
      - description: Refers to a printer connected (directly or via network) to a
          computer.
        explode: true
        in: query
        name: alias
        required: true
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrinterMappingGetResponse'
          description: Mapping printer Get Successfully
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
      security:
      - bearerAuth: []
      summary: Get Printer mapping
      tags:
      - Print
      x-accepts:
      - application/json
    post:
      description: printer mapping document
      operationId: printerMapping
      parameters:
      - description: "The Developer Partner ID is assigned by PB to uniquely identify\
          \ a Developer's strategic business partners. If the developer is the sole\
          \ business partner, this field isn't required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-Id
        required: false
        schema:
          type: string
        style: simple
      - description: "This is the Location ID assigned as per the Developer's and\
          \ Partner's parsed locations, to which all transactions will be billed.\
          \ <br /> Partner's location will be used for billing if it is configured,\
          \ however, in case Partner's location is not given, then the Developer's\
          \ location will be taken. Developer's location will be the default value.\
          \ <br /> Additionally, Developers and Partners can use carriers belong to\
          \ this location only."
        explode: false
        in: header
        name: X-PB-LocationId
        required: false
        schema:
          type: string
        style: simple
      - description: A unique transaction Id provided by the partner which is used
          to enable debugging and linking between the client's transaction and the
          system.
        explode: false
        in: header
        name: X-PB-TransactionId
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrinterMappingRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrinterMappingResponse'
          description: Successfully mapped printer
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
      security:
      - bearerAuth: []
      summary: Printer mapping
      tags:
      - Print
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/jobs/{jobId}:
    get:
      description: job status
      operationId: jobStatus
      parameters:
      - description: "The jobId, a unique identifier assigned for the job."
        explode: false
        in: path
        name: jobId
        required: true
        schema:
          type: string
        style: simple
      - description: "The Developer Partner ID is assigned by PB to uniquely identify\
          \ a Developer's strategic business partners. If the developer is the sole\
          \ business partner, this field isn't required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-Id
        required: false
        schema:
          type: string
        style: simple
      - description: "This is the Location ID assigned as per the Developer's and\
          \ Partner's parsed locations, to which all transactions will be billed.\
          \ <br /> Partner's location will be used for billing if it is configured,\
          \ however, in case Partner's location is not given, then the Developer's\
          \ location will be taken. Developer's location will be the default value.\
          \ <br /> Additionally, Developers and Partners can use carriers belong to\
          \ this location only."
        explode: false
        in: header
        name: X-PB-LocationId
        required: false
        schema:
          type: string
        style: simple
      - description: A unique transaction Id provided by the partner which is used
          to enable debugging and linking between the client's transaction and the
          system.
        explode: false
        in: header
        name: X-PB-TransactionId
        required: false
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobStatus'
          description: The document has been printed successfully.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
      security:
      - bearerAuth: []
      summary: Job status
      tags:
      - Print
      x-accepts:
      - application/json
  /api/v1/defaults:
    get:
      description: "The operation fetches all created Defaults. If query parameters\
        \ are not provided, it will consider default page as 1 and default size as\
        \ 10."
      operationId: getAllDefaults
      parameters:
      - description: "The Developer Partner ID is assigned by PB to uniquely identify\
          \ a Developer's strategic business partners. If the developer is the sole\
          \ business partner, this field isn't required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      - description: The page of the Defaults search result list.
        explode: true
        in: query
        name: page
        required: false
        schema:
          type: string
        style: form
      - description: The size/count of the searched result list.
        explode: true
        in: query
        name: size
        required: false
        schema:
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllDefaults'
          description: List of Defaults.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Get All Defaults
      tags:
      - Defaults
      x-accepts:
      - application/json
    post:
      description: "While creating shipment, a few columns/ fields information are\
        \ used mandatorily, and if the value for those columns are used repetitively,\
        \ then it is always better to save last used values.\nAnd hence, this API\
        \ has been introduced. Using this API, default values can be set up for frequently\
        \ used columns/fields information like carrier, its linked services, and special\
        \ services. \nSetting up the defaults will save both time and efforts.\n"
      operationId: createDefaults
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDefaults'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDefaultsResponse'
          description: "Defaults (i.e., default values) have been created successfully."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Create Defaults
      tags:
      - Defaults
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/defaults/{defaultID}:
    delete:
      description: This operation deletes the existing Defaults.
      operationId: deleteDefaultsById
      parameters:
      - description: This is unique identifier assigned to Defaults while its creation
          using CreateDefaults API.
        explode: false
        in: path
        name: defaultID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: "Defaults (i.e., default values) have been deleted successfully."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Delete Defaults by ID
      tags:
      - Defaults
      x-accepts:
      - application/json
    get:
      description: This operation fetches the values set for the Defaults.
      operationId: getDefaultsById
      parameters:
      - description: This is unique identifier assigned to Defaults while its creation
          using CreateDefaults API.
        explode: false
        in: path
        name: defaultID
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
          description: Defaults values have been retrieved successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Get Defaults By ID
      tags:
      - Defaults
      x-accepts:
      - application/json
    put:
      description: This operation updates the values set for Defaults.
      operationId: putDefaultsById
      parameters:
      - description: This is unique identifier assigned to Defaults while its creation
          using CreateDefaults API.
        explode: false
        in: path
        name: defaultID
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDefaults'
        required: true
      responses:
        "200":
          description: "Defaults (i.e., default values) have been updated successfully."
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: The request could not be authorized.
        "500":
          content: {}
          description: The request could not be completed due to an internal error.
      security:
      - bearerAuth: []
      summary: Update Defaults
      tags:
      - Defaults
      x-content-type: application/json
      x-accepts:
      - application/json
  /api/v1/bulkShipments:
    post:
      description: "This operation creates a batch of bulk (larger quantities) shipments\
        \ for single or multiple recipients. The shipments can be addressed to a single\
        \ or multiple recipients with different combination of carrier, service special\
        \ services and parcel type. `carrierAccountId`, `parcelType`, `serviceId`\
        \ and `specialServices` are used as default when user do not wish to provide\
        \ at shipment level. If user choose to provide these at Shipment level then\
        \ it overrides the values provided at root level. At shipment level either\
        \ you can wish to provide all of `carrierAccountId`, `parcelType`, `serviceId`\
        \ and `specialServices` or not provide all of them if wants to use default\
        \ ones from root level. If user do not provide any one out of `carrierAccountId`,\
        \ `parcelType` and `serviceId` at shipment level it would result in validation\
        \ error"
      operationId: CreateBulkShipmentsAPI
      parameters:
      - description: "This is the Developer Partner ID. When the developer is the\
          \ only partner, this field is not required."
        explode: false
        in: header
        name: X-PB-Developer-Partner-ID
        required: false
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateBulkShipmentsAPI_request'
        description: This is the Request body to create bulk shipments.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkShipmentResponse'
          description: The Batch Shipment has been created.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Errors'
          description: Invalid request.
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
[...]
